<form method="post" action="{{ path('app_a_propos_location_delete', {'id': a_propos_location.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ a_propos_location.id) }}">
    <button class="btn">Delete</button>
</form>
